<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>quuestion</title>
    <link rel="stylesheet" href="main.css">
</head>
<body>
    <div class="wrapper">
        <h2>Message Form</h2>
        <form action="message" method="post" class="form">
            <label for="">Department</label>
            <select name="department_id">
                <% for(let department of departments){ %> 
                  <option  value="<%= department.department_id %>"><%= department.name %> </option>
                <% } %>
              </select>
          <label for="">Email</label>
          <input type="email" name="email" required>
          <label for="">Question Title</label>
          <input type="text" name="title" required>
          <label for="">Question</label>
          <textarea name="content" id="" cols="30" rows="10" required></textarea>
          <button>SEND</button>
        </form>
    </div>
</body>
</html>